.carousel-text{
    background-color: black;
    opacity: 0.6;
    text-align: left;
    padding-left: 30px;
    left: 5%;
    bottom: 20%;
    width: 700px;
}
.button-prev-carousel{
    margin-right: 120px;
}
.button-next-carousel{
    margin-left: 120px;
}
@media (min-width: 414px) and (max-width: 600px){
    .carousel-text{
        margin-left: -14px;
        width: 400px;
        height: 115px;
        padding: 20px;
    }  
}
@media (min-width: 601px) and (max-width: 740px){
    .carousel-text{
        padding-right: 100px;
        height: 130px;
    }
}
.text-card-h5 {
    font-family: "Lato", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
  
}
.text-card-p {
    font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card {
    border: none;
    line-height: 1.2;
  
}
.card-img-top {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.card-body-color0-4 {
    background-color: #00adb5;
}
.card-body-color1-3 {
    background-color: #aad8d3;
}
.card-body-color2 {
    background-color: #eeeeee;
}
h1{
    background-color: #aad8d3;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
footer{
    background-color: #aad8d3;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
iframe{
    max-width: 100%;
    max-height: 100%;
}